[submodule "wp-web-push"]
	path = wp-web-push
	url = https://github.com/mozilla/wp-web-push.git
[submodule "offline-shell"]
	path = offline-shell
	url = https://github.com/mozilla/wp-offline-shell.git
[submodule "wp-add-to-homescreen"]
	path = wp-add-to-homescreen
	url = https://github.com/mozilla/wp-add-to-homescreen.git
